System OS installed: {{ ansible_os_family }}

BIOS date: {{ ansible_bios_date }}

BIOS version: {{ ansible_bios_version }}

Your session name: {{ current_session }}

Today's date: {{ todate }}

no of chickens: {{ chkn }}


