<h3>Hello world {{ myname }}</h3>
<h2>Facts:</h2>
	<h3>{{ ansible_all_ipv4_addresses }} </h3>
	<h3>{{ ansible_architecture }} </h3>
	<h3>{{ ansible_bios_version }} </h3>
<h3> Inventory vars</h3>
	<h3> {{ansible_user}} </h3>
        <h3> {{ ansible_become}} </h3>
