- name: MY first playbook
  hosts: db
  tasks:
  - name: Create GROUP
    group: name=deploy
  - name: Create USER
    user: name=deploy-user group=deploy shell=/bin/bash	
  - name: Install the httpd apps
    yum: name=httpd
  - name: start the httpd service
    service: name=httpd state=started
  - name: create a dummy fle
    file: dest=/opt/test.txt state=touch
  - name: copy a file
    copy: dest=/var/www/html/ src="/root/kavitha/index.html"
  - name: reboot the machine
    reboot: msg="Reboot initiated by Ansible"
  - name: Install Git
    yum: name=git
  - name: Install Wget
    yum: name=wget
  - name: Clone
    git: repo=https://github.com/scmgalaxy/ansible-role-template dest=/root/kavitha/scmgalaxy
...